/* 全局样式重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Noto Sans SC";
  src: local("Noto Sans SC"),
    url("/public/fonts/NotoSansSC-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: local("Noto Sans SC"),
    url("/public/fonts/NotoSansSC-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: local("Noto Sans SC"),
    url("/public/fonts/NotoSansSC-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 变量 */
:root {
  --font-family: "Noto Sans SC", Arial, Helvetica, system-ui, -apple-system,
    sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: transparent !important;
  font-family: var(--font-family);
  font-weight: 400;
}

/* App 组件样式 */
.app {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 600px;
  border-radius: 20px;
  background: transparent;
  overflow: hidden;
  /* 窗口拖拽 */
  -webkit-app-region: drag;
  app-region: drag;
  user-select: none;
}

/* 交互元素不可拖拽 */
button,
input,
a,
[role="button"] {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}