/* 全局样式重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("/fonts/NotoSansSC-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("/fonts/NotoSansSC-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("/fonts/NotoSansSC-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("/fonts/NotoSansSC-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family:
    "Noto Sans SC", Arial, Helvetica, system-ui, -apple-system, sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: transparent !important;
  font-family: var(--font-family);
  font-weight: 400;
}

.app {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 600px;
  border-radius: 10px;
  background: transparent;
  overflow: hidden;
  -webkit-app-region: drag;
  app-region: drag;
  user-select: none;
}

/* 禁止拖拽的区域 */
.app-region-no-drag {
  -webkit-app-region: no-drag !important;
  app-region: no-drag !important;
  pointer-events: auto !important;
}

/* 确保子元素也继承no-drag属性 */
.app-region-no-drag * {
  -webkit-app-region: no-drag !important;
  app-region: no-drag !important;
  pointer-events: auto !important;
}

/* 允许拖拽的 Handle 区域 */
.app-region-drag {
  -webkit-app-region: drag !important;
  app-region: drag !important;
}

/* --- View Transitions 动画 --- */
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  mix-blend-mode: normal;
  clip-path: circle(0% at var(--circle-position-x) var(--circle-position-y));
  animation: reveal 0.5s ease-in-out forwards;
}

@keyframes reveal {
  to {
    clip-path: circle(
      var(--transition-radius) at var(--circle-position-x)
        var(--circle-position-y)
    );
  }
}
/* --- 动画结束 --- */

/* 隐藏 react-virtualized 的滚动条 */
.ReactVirtualized__Grid::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}
.ReactVirtualized__Grid {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE/Edge */
}
